@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

*{margin: 0; padding: 0;}

header, footer {background: rgb(130, 199, 224);}

header h1 {
    margin: 2%;
    font-family: 'Outfit', sans-serif;
    color: rgb(239, 242, 245);
    font-size: 40px;
}
header a {
    text-decoration: none;
    padding: 5px;
    margin: 4px;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    color: rgb(239, 242, 245);
    text-transform: uppercase;
    font-size: 20px;
}
a:hover {color: #2994bb; cursor: pointer; font-size: 21px;}

header img {
    max-width: 145px;
    max-height: 98px;
    padding: 5px;
    margin: 10px;
}
nav {margin-left: 70px;}

.center {
    margin: auto;
    display: block;
}

#menu {
    display: flex;
    align-items: center;
}

.background {
    background: #eff2f5;
    margin: 2%;
    border-radius: 10px;
    -webkit-border-radius:10px;
}

.about {
    padding: 1%;
}

.about p {
    font-size: 20px;
    text-align: center;
}

.font_title {
    font-family: 'Outfit', sans-serif; 
    font-size: 25px;
    font-weight: bold;
}

.font2 {font-family: 'Karla', sans-serif;}

.grade {
    text-align: center;
    font-family: 'Karla', sans-serif;
    background: #eff2f5;
    margin: 3%;
    border-radius: 20px;
    padding: 1%;
}

.bonnie_img {
    max-width: 130px;
    max-height: 100px;
    margin: auto;
    display: block;
}

h3, h2 {
    text-align: center;
    border: #2994bb;
    background: #2994bb;
    color: aliceblue;
    font-family: 'Outfit', sans-serif;
    padding: 10px;
    border-radius: 20px;
    margin: 0px 120px 0px 120px;
}

table {
    border-collapse: collapse; 
    width: 90%;
    margin: auto;
}

table td{
    border: solid black 1px;
    padding: 1%;
}

th {
    border: solid black 1px;
    padding: 1%; 
}

td th {
    text-align: center;
}

.fundo {
    background: #eff2f5;
    padding: 0.5%;
    margin: 3%;
    border-radius: 20px;
}

.map {
    border-radius: 20px;
    display: inline-flex;   
    justify-content: center;
    align-items: center;
    width: 100%;
}

.font_local {
    font-family: 'Outfit', sans-serif; 
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
    border: #2994bb;
    background-color: #2994bb;
    border-radius: 20px;
    text-align: center;
    margin: 10px 200px 10px 200px;
    padding: 0.5%;
}

.golden_l {
    max-width: 100px;
    max-height: 120px;
    float: left;
    margin-left: 105px;
}

.golden_r {
    max-width: 100px;
    max-height: 120px;
    float: right;
    margin-right: 105px;
}

iframe {
    padding: 2%;
    margin: auto;
}

.fatec {
    text-align: center;
    font-family:'Karla', sans-serif;
}

.fatec a {
    text-decoration: none;
    font-family:'Karla', sans-serif;
    color: #2994bb;
}

footer img {
    max-width: 145px;
    max-height: 98px;
    padding: 12px;
    margin: auto;
    display: block;
}

caption {
    padding: 5px;
    text-transform: uppercase;
}